name: ci

on:
  push:
    branches:
      - main
      - feat/*
      - fix/*
  pull_request:
    branches:
      - main

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    env:
      COREPACK_DEFAULT_TO_LATEST: 0
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: '24'
      - run: npm i -g --force corepack && corepack enable
      - run: pnpm install
      - run: pnpm dev:prepare
      - run: pnpm lint
      - run: pnpm prepack
      - run: pnpm typecheck
      - run: pnpm test
      - name: Publish
        run: pnpx pkg-pr-new publish --compact --no-template --pnpm

